<!-- import header ejs -->

<%- include ('partials/_header'); %>

<div class="container">
  <div class="row">
    <!-- FORMULARIO -->
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="POST">
            <!-- titulo -->
            <div class="form-group">
              <!-- <h2 class="text-center">To Do</h2> -->
              <input
                type="text"
                name="title"
                placeholder="Inserta un titulo"
                class="form-control"
              />
            </div>
            <!-- descripcion -->
            <div class="form-group">
              <textarea
                name="description"
                id=""
                cols="80"
                class="form-control"
                placeholder="Escribe la descripcion"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-outline-info btn-block">
              Agregar
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- TABLA -->
    <div class="col-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < tasks.length ; i++){ %>

          <tr>
            <td><%= i + 1 %></td>
            <td><%= tasks[i].title %></td>
            <td><%= tasks[i].description %></td>
            <td>
              <a href="" class="btn btn-dark">Done</a>
              <a href="" class="btn btn-warning">Edit</a>
              <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger"
                >Delete</a
              >
            </td>
          </tr>

          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>

<% include ('partials/_footer') %>
